#form-feedback {
    color: firebrick;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification {
    max-width: 25em;
}

/* admin page header */
h1.title.is-2{
    margin-top: 3.5rem;
    margin-left: 12%;
    margin-bottom: 7rem;
}