{% extends 'base.html' %}
{% block content %}

<h1 class="title is-3">Create New Scouting Form</h1>
<hr class="title-hr">

<section x-init="$watch('data', q=>saveForm())"
        x-data="formCreator()" 
        class="box">
    <div class="is-flex is-justify-content-center mb-4">
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Title</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input maxlength="40" x-model="data.name" class="input" type="text" placeholder="Title e.g. 2022 Rapid React">
                    </p>
                </div>
            </div>
    </div>
    </div>
    <div class="container">
        <div class="columns is-centered">
            <div class="column">
                <div id="questions">
                    <!-- This is where all the added questions will go -->
                    <!-- whenever questions changes, save it to localstorage -->
                    <template 
                    x-data
                    x-for="question in data.questions">
                        <!-- div just to hold child elements. Also scrolls down when created -->
                        <div x-init="$nextTick(() => {window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'})})">
                            <button @click="removeQuestion(question)" style="float: right;" class="delete is-medium"></button>
                            <div class="box mt-5">
                                <template 
                                x-id="['text-input', 'question-prompt']"
                                x-for="comp in question.components"
                                >
                                <!-- div required because template with x-for can only have one root element -->
                                    <div>
                                        <!--If it is a prompt-->
                                        <template x-if="PropertyTypes.Prompt.equals(comp.type)">
                                            {% include 'properties/prompt.html' %}
                                        </template>
                                        <!--If it is a textbox-->
                                        <template x-if="PropertyTypes.TextBox.equals(comp.type)">
                                            {% include 'properties/textbox.html' %}
                                        </template>
                                    </div>
                               </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

    </div>
<button 
:disabled="!(data.questions.length <= 15)" 
id="add-question" 
@click="createQuestion()" 
class=" button is-primary is-medium mt-4" style="width: 100%;">
Add New Question
</button>
<button @click="reset">reset (for testing)</button>
</section>
<script>
function formCreator() {
    return {
        // data that is saved to server
        data : {
            code : "",
            name : "",
            draft : true, // stores if the form is complete or not
            questions : [],
            timer : null,
        },
        lastSaved : Date.now(),
        initialized : false,
        init() {
            this.fetchForm();
        },
        fetchForm() {
        // get the json repr and turn into alpine object
            fetch("/api/getform/" + new URL(location.href).searchParams.get("code"))
            .then(req => checkOk(req))
            .then(req => {
                this.data.code = req.code;
                this.data.draft = req.draft;
                this.data.questions = req.questions;
                this.data.name = req.name;
            })
        },
        createQuestion() {
            this.data.questions.push(
                formQuestion(QuestionTypes.TextBox)
            );
        },
        removeQuestion(question) {
            var data = this.data;
            // create the alert modal
            Bulma().alert({ 
                    type: 'danger',
                    title: "Delete Question?",
                    body: "Are you sure you would like to delete this question? This action cannot be undone",
                    confirm: {
                        label: "Delete",
                        classes : ['is-outlined'],
                        onClick : (() => {
                            data.questions = data.questions.filter(
                                q => q != question // filter out the question that is specified to delete
                            );
                        })
                    },
                    cancel: {
                        label : "Go Back",
                        classes : ['is-outlined', 'is-success'],
                    },
                }
            )
        },
        // wrapper to debounce the save function. 1 sec timeout
        saveForm() {
            clearTimeout(this.timer);
            this.timer = setTimeout(() => { this._saveForm(); } , 250);
        },
        _saveForm() {
            // dont save first time this function is called
            // TODO: fix
            if (!this.initialized) {
                this.initialized = true;
                return;
            }
            console.log("saving")
            fetch("/api/editform/" + this.data.code, {
                credentials : 'same-origin',
                method : "POST",
                headers : {
                    'Content-Type' : 'application/json'
                },
                // only send the data that is needed by server
                body: JSON.stringify(this.data)
            });
        },
        // for testing rn
        reset() {
            this.questions = [];
        },
    }
}
// object for storing each question's data
function formQuestion(questionType) {
    return {
        // random id. Does not need to be terribly unique
        code : (Math.random() + 1).toString(36).substring(2),
        type : questionType,
        // defined in main.js
        components : getDefaultComponents(questionType),
    }
}

// returns a questionComponent TEMPLATE
function questionComponent(type) {
    var defaultComponents = {
        edit : false,
        type : type,
    };
    // make sure it is a valid type
    if (PropertyTypes.templates.has(type.toString())) {
        // copy all the template properties to the default properties
        return Object.assign(
                defaultComponents, 
                PropertyTypes.templates.get(type.toString())
            );
    }
}

function getDefaultComponents(type) {
  var out = [];
  // this is probably not the best way to do it but im stupid so...
  // check the question type then return the appropriate property templates
  if (QuestionTypes.TextBox.equals(type)) {
      out.push(questionComponent(PropertyTypes.Prompt));
      out.push(questionComponent(PropertyTypes.TextBox));
  }
  else {
      console.log("Bruh what kind of question is this? " + type);
  }
  return out;
}

</script>

{% endblock %}




