{% extends 'base.html' %} {% block content %}

<div x-data="formRes()" x-show="initialized">
  <h1 class="title is-3" x-text="'Responses for ' + title"></h1>
  <hr class="title-hr" />
  <div x-data="QRCodeScanner()" class="is-flex is-justify-content-center">
    <button @click="open()" class="button is-primary is-medium">
      Scan Response QR Code
    </button>
  </div>

  <div class="columns is-mobile is-centered my-5">
    <div class="column is-half-desktop is-two-thirds-mobile">
      <div id="reader"></div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-two-thirds-desktop is-full-mobile">
      <template x-for="teamNum in teamNums">
        <div x-data="{show:false}" class="my-4">
          <div
            class="box question-card is-flex is-justify-content-space-between"
            style="background-color: #e9e9e9"
          >
            <span x-text="'Team #'+ teamNum" class="is-medium label"></span>
            <button
              x-text="show ? 'Close' : 'Open Profile'"
              @click="show = !show"
              class="is-primary button"
            ></button>
          </div>
          <!-- <template x-if="show"> -->
          <div x-show="show">
            <div class="box question-card" style="background-color: #e9e9e9">
              <!-- profile information -->
              <div
                x-data="{
                pfp : '',
                notes : '',
                async init() {
                  var data = await getProfileData(teamNum);
                  this.pfp = data.pfp;
                  this.notes = data.notes;
                }
              }"
              >
                <!-- team picture -->
                <div style="width: 100%; text-align: center">
                  <img
                    class="team-pfp"
                    :src=" pfp === '/static/assets/robot-cat.png' ? getDefaultPfp() : pfp"
                  />
                  <br />
                  <button
                    @click="$refs.fileInp.click()"
                    class="button is-primary is-rounded"
                    :disabled="!isOnline"
                  >
                    Upload A Picture
                  </button>
                  <input
                    @change="uploadPic($el.files[0], teamNum)"
                    x-ref="fileInp"
                    type="file"
                    name="pic"
                    hidden
                  />
                </div>
                <!-- team notes -->
                <div style="width: 100%; text-align: center" class="mt-4">
                  <textarea
                    @input.debounce.500ms="updateNotes(teamNum, $event)"
                    rows="2"
                    class="textarea"
                    style="width: 50%"
                    x-model="notes"
                  ></textarea>
                </div>
              </div>

              <template x-for="(q, i) in questions">
                <div>
                  <label
                    x-text="q.components[0].text"
                    class="label is-medium mt-3"
                  ></label>
                  <!-- textbox  -->
                  <template
                    x-if="PropertyTypes.TextBox.equals(q.components[1].type)"
                  >
                    <div class="columns is-multiline is-mobile">
                      <template x-for="res in resMap[teamNum] ">
                        <template x-if="res.responses[i].length !== 0">
                          <div class="column is-narrow">
                            <div
                              x-tooltip="res.name"
                              class="box mx-2"
                              x-text="res.responses[i]"
                            ></div>
                          </div>
                        </template>
                      </template>
                    </div>
                  </template>
                  <template
                    x-if="PropertyTypes.ImageSelect.equals(q.components[1].type) && show"
                  >
                    <div x-data="ImageSelect()">
                      <img
                        x-init="img = $el"
                        :src="getFieldImage()"
                        class="image mt-3 mx-3"
                        style="width: fit-content"
                      />
                      <template x-if="size !== null">
                        <template x-for="res in resMap[teamNum]">
                          <div
                            x-tooltip="res.name"
                            class="image-select-dot"
                            :style="{ left: scaleCoords(res.responses[i]).x + 'px', top: scaleCoords(res.responses[i]).y + 'px'}"
                          ></div>
                        </template>
                      </template>
                    </div>
                  </template>

                  <template
                    x-if="PropertyTypes.NumInp.equals(q.components[1].type)"
                  >
                    <div class="columns is-mobile">
                      <div class="column is-narrow box">
                        <div
                          x-data="{
                          average : 0,
                          getAverage(teamRes) {
                            this.average = 0;
                            teamRes.forEach((e) => {this.average += parseInt(e.responses[i]); });
                            this.average /= this.resMap[teamNum].length;
                          } 
                        }"
                          x-init="$watch('resMap', (e) => getAverage(e[teamNum]))"
                        >
                          <span
                            x-init=""
                            x-text="'Average: ' + average"
                            class="title is-5"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </template>
                  <!-- level select -->
                  <template
                    x-if="PropertyTypes.LevelSelect.equals(q.components[1].type)"
                  >
                    <div
                      x-data="LevelSelectRes(i)"
                      x-init="$watch('resMap', (e) => getAverages(e[teamNum]))"
                    >
                      <template x-for="i in 3">
                        <div
                          class="level-select-bar"
                          style="text-align: center; display: block"
                        >
                          <span
                            class="title is-2"
                            x-text="(levels[i-1]).toFixed(2)"
                          ></span>
                        </div>
                      </template>
                    </div>
                  </template>
                  <template
                    x-if="PropertyTypes.MultSelect.equals(q.components[1].type)"
                  >
                    <div
                      x-data="MultSelectRes(i)"
                      class="columns is-mobile is-centered is-vcentered"
                    >
                      <template x-for="text in q.components[1].texts">
                        <div class="column is-narrow">
                          <div
                            x-data="{ percent : 0 }"
                            class="mult-choice responses"
                          >
                            <div class="bar" :style="{ width : percent }"></div>
                            <span
                              x-init="$watch('resMap', (e) => { 
                                percent = calcPercent(text, e[teamNum]);
                              })"
                              x-text="text"
                              class="title is-4"
                            ></span>
                          </div>
                        </div>
                      </template>
                    </div>
                  </template>
                </div>
              </template>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
  const formRes = () => ({
    initialized: false, // wait for data to be fetched
    questions: [],
    teamNums: [],
    unsavedRes: [],
    isOnline: true,
    resMap: {}, // map: { teamNum : responses }
    title: "",
    code: "",
    async init() {
      await this.getForm();
      await this.getNums();
      // watch the unsaved responses and save them to localstorage
      this.$watch("unsavedRes", (v) => {
        localStorage.setItem("unsavedRes", JSON.stringify(v));
      });
      // if connected or disconnected, update isOnline accordingly
      window.addEventListener("offline", () => {
        this.isOnline = false;
      });
      window.addEventListener("online", () => {
        this.isOnline = true;
        for (const res of this.unsavedRes) {
          this.submitRes(res.name, res.num, res.res);
        }
        // reset
        this.unsavedRes = [];
      });

      if (localStorage.getItem("unsavedRes")) {
        this.unsavedRes = JSON.parse(localStorage.getItem("unsavedRes"));
        for (const res of this.unsavedRes) {
          this.submitRes(res.name, res.num, res.res);
        }
        this.unsavedRes = [];
      }

      // listen for updateRes event. Emitted on qr code scan success
      window.addEventListener("updateRes", (e) => this.updateRes(e));

      // build map
      for (const num of this.teamNums) {
        this.getResponses(num).then((e) => {this.resMap[num] = e;} );
      }
      await this.$nextTick();
    },
    async getNums() {
      await fetch("/api/getteamnums/" + this.code, {
        credentials: "same-origin",
      })
        .then((res) => checkOk(res))
        .then((res) => (this.teamNums = res.numbers));
    },

    async getProfileData(teamNum) {
      // gets the notes and profile picture of the given team
      var data = await fetch(
        "/api/getprofiledata/" + this.code + "/" + teamNum
      ).then((res) => checkOk(res));
      return data;
    },
    async updateNotes(teamNum, e) {
      /* updates team notes */
      fetch("/api/updatenotes/" + this.code + "/" + teamNum, {
        headers: {
          "Content-Type": "application/json",
        },
        method: "POST",
        body: JSON.stringify({
          notes: e.target.value,
        }),
      }).then((res) => checkOk(res));
    },
    async getResponses(teamNum) {
      // gets the responses of a question
      let res = await fetch(`/api/getdata/${this.code}/${teamNum}`, {
        credentials: "same-origin",
      }).then((res) => checkOk(res));

      return res.data;
    },
    async getForm() {
      await fetch("/api/getform/" + location.href.split("/")[5])
        .then((res) => checkOk(res))
        .then((res) => {
          this.questions = res.questions;
          this.title = res.name;
          this.code = res.code;
          this.initialized = true;
        });
    },
    uploadPic(file, teamNum) {
      var data = new FormData();
      data.append("pic", file);

      fetch("/api/uploadpfp/" + this.code + "/" + teamNum, {
        method: "POST",
        body: data,
      })
        .then((res) => checkOk(res))
        .then((res) => {
          this.pfp = res.pfp;
        });
    },
    updateRes(e) {
      // check if the num exists in the map
      if (!this.resMap.hasOwnProperty(e.detail.data.num)) {
        this.teamNums.push(e.detail.data.num);
        this.resMap[e.detail.data.num] = [];
      }
      // append the response object to the response map
      this.resMap[e.detail.data.num].push({
        name: e.detail.data.name,
        responses: e.detail.data.res,
      });

      // if online, send the response to database
      if (this.isOnline) {
        this.submitRes(
          e.detail.data.name,
          e.detail.data.num,
          e.detail.data.res
        );
      }
      // otherwise save in list for later
      else {
        this.unsavedRes.push(e.detail.data);
      }
      notify(`Response from ${e.detail.data.name} was recorded`, "is-success");
    },
    submitRes(name, teamNum, responses) {
      fetch("/api/respond/" + this.code, {
        headers: {
          "Content-Type": "application/json",
        },
        method: "POST",
        body: JSON.stringify({
          teamNum: teamNum,
          name: name,
          responses: responses,
        }),
      }).then((res) => checkOk(res));
    },
  });

  const QRCodeScanner = () => ({
    scanner: new Html5QrcodeScanner(
      "reader",
      { fps: 10, qrbox: { width: 250, height: 250 } },
      /* verbose= */ false
    ),
    lastScanTime: Date.now(),
    open() {
      this.scanner.render(this.scan, () => {});
    },
    scan(decodedText, decodedResult) {
      /* 
      decoded text should be {
        num: teamNum,
        name: name,
        res: [responses]
      }
      */

      // put 0.75 sec delay between qr code scans
      if (Date.now() - this.lastScanTime < 1500) {
        return;
      }
      // dispatches an updateRes event that will update the resMap in formRes
      window.dispatchEvent(
        new CustomEvent("updateRes", {
          detail: {
            data: JSON.parse(decodedText),
          },
        })
      );
      this.lastScanTime = Date.now();
    },
  });
</script>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

{% endblock %}
