{% extends 'base.html' %}
{% block content %}

<div x-data="formRender()">
    <h1 class="title is-3" x-text="name"></h1>
    <hr class="title-hr">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <!--QUESTIONS-->
            <section x-show="!showQRCode" class="box">
                <template x-for="(question, index) in questions">
                    <div class="">
                        <template x-for="comp in question.components">
                            <div class="">
                                <!--If it is a prompt-->
                                <template x-if="PropertyTypes.Prompt.equals(comp.type)">
                                    {% include 'public/components/prompt.html' %}
                                </template>
                                <!--If it is a textbox-->
                                <template x-if="PropertyTypes.TextBox.equals(comp.type)">
                                    {% include 'public/components/textbox.html' %}
                                </template>
                            </div>
                        </template>
                        <hr>
                    </div>
                </template>
                <button @click="genQRCode()" class="button is-primary">Generate QR Code</button>
            </section>
            <section x-show="showQRCode" class="box" style="text-align: center;">
                <div style="margin: auto;">
                    <img :src="qrcode">
                    <br>
                    <span class="title is-4">Scan To Submit Response</span>
                    <br>
                    <button @click="showQRCode = !showQRCode" class="button is-primary mt-4">Create New Response</button>
                    <br>
                    <i @clickclass="fa-solid fa-download button is-info mt-4"></i>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    function formRender() {
        return {
            name : null,
            code : null,
            questions : null,
            responses : null, 
            showQRCode : false,
            qrcode : "",
            async init() {
                await this.getForm();  
            },
            getForm() {
                fetch("/api/getform/" + location.href.split('/')[3])
                .then(req => checkOk(req))
                .then(req => {
                    this.questions = req.questions;
                    this.name = req.name;
                    this.responses = Array(this.questions.length).fill(""); // init empty response list. -1 indicates empty res
                });
            },
            genQRCode() {
                // why is js like this i wanna die
                var out;
                QRCode.toDataURL(JSON.stringify(this.responses), { version: 13 }, function (err, url) {
                    out = url;
                });
                this.qrcode = out;
                this.showQRCode = true;
            },
            downloadQRCode(dataurl, filename) {
                const link = document.createElement("a");
                link.href = this.qrcode;
                link.download = `${this.name}-${this.code}-qrcode`;
                link.click();
            }
        };
    }
</script>

<script src="/static/node_modules/qrcode/build/qrcode.js"></script>
{% endblock %}