<!-- question and comp object needs to be passed with alpine  -->
<div>
    <!-- the label is inveresly bound to the input.  -->
    <label 
    x-text="comp.text"
    x-show="!comp.edit" 
    class="label is-medium" 
    :for="$id('question-prompt')" 
    @click="comp.edit = true"
    >
    </label>
    <input
    autocomplete="off"
    maxlength="45"
    type="text"
    :id="$id('question-prompt')"
    x-show="comp.edit"
    x-model="comp.text"
    placeholder="Enter a prompt for your amazing question"
    class="input"
    :class="{ 'is-danger' : comp.text.length == 0 }"
    @blur="comp.text.length > 0 ? comp.edit = false : comp.edit = true"
    @keyup.enter="comp.text.length > 0 ? comp.edit = false : comp.edit = true"
    >

</div>
