{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Admin Dashboard</h1>
<hr class="title-hr">
<div id="dash-tabs" class="container">
    <div class="tabs is-large is-boxed">
        <ul>
            <!--The onload is to add data to each tab allowing access to it in main.js-->
            <li id="scouts" class="is-active"><a>Scouts</a></li>
            <li id="data"><a>Data</a></li>
            <li id="settings"><a>Settings</a></li>
        </ul>
    </div>

</div>

<section id="scouts-tab">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="add-scout-panel ">
                    <input id="new-name" name="name" class="input is-primary" type="text" placeholder="Scout Name">
                    <input id="new-code" name="code" class="input is-primary" type="password" placeholder="Scout Code">
                    <div class="is-flex is-justify-content-right">
                        <button id="create-new" class="button is-primary" disabled>+ New Scout</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="scout-cards" class="columns is-centered">
            <div class="column">
                {% for scout in scouts %}
                    <div class="scout-card">
                        <span class="name">{{ scout.name }}</span>
                        <div class="is-flex is-justify-content-right">
                            <a class="button is-info">View Responses</a>
                            <a class="button is-danger">Delete</a>
                        </div>
                    </div>
                {% else %}
                    No scouts
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<section id="data-tab">
    Data
</section>
<section id="settings-tab">
    Settings
</section>

{% endblock %}